<phpunit
    bootstrap="./tests/bootstrap.php"
    processIsolation="true"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Router Tests">
            <file>./tests/RouterTest.php</file>
        </testsuite>
        <testsuite name="Request Tests">
            <file>./tests/RequestTest.php</file>
        </testsuite>
        <testsuite name="Response Tests">
            <file>./tests/ResponseTest.php</file>
        </testsuite>
        <testsuite name="Helpers Tests">
            <directory>./tests/helpers</directory>
        </testsuite>
    </testsuites>
</phpunit>
